@import "../../../styles/_variables.scss";
.chart-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    .chart {
        margin-right: 10px;
        flex: 2;
    }
    .avg-pressure {
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex: 1;
        color: white;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        border-radius: 5px;
        h2,
        h3 {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .avg-pressure {
        flex-grow: 1;
    }
}
